::-webkit-scrollbar {
  size: 0px;
}

:root {
  --color-primary: #191d2b;
  --color-secondary: #09b4c2;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey: #2a2e35;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

body {
  font-family: "Poppins";
  background: var(--color-primary);
  overflow-x: hidden;
}

:root {
  --color-primary: #191d2b;
  --color-secondary: #09b4c2;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey: #2a2e35;
}

/* NAVBAR */

.navbar {
  position: absolute;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}

.navbar a {
  color: var(--color-white);
  cursor: pointer;
}

.navbar .logo {
  font-size: 2em;
  font-weight: bold;
}

.navbar .nav-links ul {
  display: flex;
}

.navbar .nav-links ul li {
  margin: 0 25px;
}

.navbar .nav-links ul li.active a {
  color: var(--color-secondary);
  font-weight: 600;
}

.navbar .menu-hamburger {
  display: none;
  position: absolute;
  top: 50px;
  right: 30px;
  width: 35px;
}

.mobile-menu {
  margin-left: 0;

}

@media screen and (max-width: 1000px) {
  .navbar {
    padding: 0;
  }

  .navbar .logo {
    position: absolute;
    top: 40px;
    left: 30px;
  }

  .navbar .menu-hamburger {
    display: block;
  }

  .nav-links {
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(#2a2e35d3);
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all 0.5s ease;
  }

  .nav-links.mobile-menu {
    margin-left: 0;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar .nav-links ul li {
    margin: 15px 0;
    font-size: 1.2em;
  }

  #system {
    top: 60%;
  }
}

/* FORMS */

.dActive {
  display: block !important;
}

.display {
  margin-left: 150%;
}

.container {
  display: none;
  background-color: var(--color-grey);
  color: var(--color-white);
  width: 70%;
  min-width: 420px;
  padding: 35px 50px;
  transform: translate(-50%,-50%);
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 15px;
  box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.15);
  transition: all 1s ease;
}

h1{
  font-size: 30px;
  text-align: center;
  color: var(--color-white);
}
p{
  position: relative;
  margin: auto;
  width: 100%;
  text-align: center;
  color: var(--color-white);
  font-size: 20px;
  font-weight: 400;
}
form{
  width: 100%;
  position: relative;
  margin: 30px auto 0 auto;
  text-align: center;
}

.row{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-gap: 20px 30px;
  margin-bottom: 20px;
}
label{
  color: var(--color-white);
  font-size: 14px;
}
textarea,
input{
  width: 100%;
  font-weight: 400;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1.2px solid var(--color-primary);
  margin-top: 5px;
}
textarea{
  resize: none;
}
textarea:focus,
input:focus{
  outline: none;
  border-color: #6f6df4;
}