::-webkit-scrollbar {
  size: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

:root {
  --color-primary: #191d2b;
  --color-secondary: #09b4c2;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey: #2a2e35;
}

body {
  background-color: var(--color-primary);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}

hr {
  width: 25%;
  margin: 2.5rem auto 2.5rem auto;
  border: 1px solid var(--color-secondary);
}

.container{
    background-color: var(--color-grey);
    width: 70%;
    min-width: 420px;
    padding: 35px 50px;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 20px 30px 25px rgba(0,0,0,0.15);
}
h1{
    font-size: 30px;
    text-align: center;
    color: var(--color-white);
}
p{
    position: relative;
    margin: auto;
    width: 100%;
    text-align: center;
    color: var(--color-white);
    font-size: 20px;
    font-weight: 400;
}
form{
    width: 100%;
    position: relative;
    margin: 30px auto 0 auto;
    text-align: center;
}
.row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 20px 30px;
    margin-bottom: 20px;
}
label{
    color: var(--color-white);
    font-size: 14px;
}
textarea,
input{
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1.2px solid var(--color-primary);
    margin-top: 5px;
}
textarea{
    resize: none;
}
textarea:focus,
input:focus{
    outline: none;
    border-color: #6f6df4;
}